<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<title>Flask Homework</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css') }} >
		{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			{% block header %}
				<header class="header">
						<h1>
							<a href={{ url_for('come_back_home') }} >
								{% if page!='main' %}
									Redirect to Homepage
								{% else %}
									Homepage
								{% endif %}
							</a>
						</h1>
				</header>
			{% endblock %}
			{% block content %}{% endblock %}
			{% block footer %}
				<footer class="footer">
					<p>© Andriy Gorbanskiy 2019</p>
				</footer>
			{% endblock %}
		</div>
	</body>
</html>