body {
    font-family: "Trebuchet MS", serif;
}

.about-title {
    display: inline-block;
    padding-right: 10%;
}

h3 {
    padding: 10px;
}

li {
    margin: 20px 20px 40px 20px;
}

a {
    background: cornflowerblue;
    padding: 14px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: midnightblue;
}

.container {
	margin: 0 auto;
	width: 960px;
}

.collections {
	overflow: auto;
}

.collection-item-outer {
	display: inline-block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	width: 60%;
	box-sizing: border-box;
}

.collection-item {
	border: 1px solid #959595;
}